.product-cell {
	height: 250px;
	text-align: center;
}
.product-cell h4 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.product-cell a.product {
	height: 160px;
	line-height: 160px;
}
.product-cell .price {
	color: darkred;
	font-size: 1.2em;
}
.view-product .image {
	text-align: center;
}
.view-product .image img {
	width: 100%;
	max-width: 400px;
}
.view-product .button {
	text-align: center;
}
.view-product .price {
	text-align: center;
	color: darkred;
	font-size: 2em;
}
.view-product .details .table th {
	width: 25%;
}
